<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeartDisease</title>
    
   
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><span class="text-warning">Heart Disease</span> System</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li> 
             
              <li class="nav-item">
                <a class="nav-link" href="#portfolio" >Technology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team">Team</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/detect">Detect</a>
              </li>        
            </ul>
          </div>
        </div>
      </nav>
         
         
         
         <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/img/Heart.jpg" class="d-block w-100" alt="">
            <div class="carousel-caption">
              

                 <p>When you have heart disease, you start to be tired of everything. It’s like getting older. You become more white, and after that, grey. You have no feeling for anything.</p>
                            
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/img/Heart1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
    
            <p style="color:white";>
                
                If you knew you could change your lifestyle and diet and avoid heart disease and other things, you should do it.</p>
                              
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/img/Heart3.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              
             <p>ither we change our ways, especially the United States, or we will continue to lead the world in heart disease and cancer</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      
      <section id="about" class="about section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-12 col-12">
                      <div class="about-img">
                          <img src="static/img/Heart4.jpeg" alt="" class="img-fluid">
                      </div>
                  </div>
                  <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                      <div class="about-text">
                            <h2>This Project Help to predict <br/> Our Heart Disease</h2>
                            <p>According to the <strong> Health Organization</strong> every year 12 million deaths 
                                occur worldwide due to Heart Disease. Heart disease is one of the biggest causes of 
                                morbidity and mortality among the population of the world. Prediction of 
                                cardiovascular disease is regarded as one of the most important subjects in the section 
                                of data analysis. The load of cardiovascular 
                                <br>disease is rapidly increasing all over the 
                                world from the past few years. Many researches have been conducted in attempt to 
                                pinpoint the most influential factors of heart disease as well as accurately predict the 
                                overall risk.<br> Heart Disease is even highlighted as a silent killer which leads to the 
                                death of the person without obvious symptoms. The early diagnosis of heart disease 
                                plays a vital role in making decisions on lifestyle changes in high-risk patients and in 
                                turn reduces the complications.</p>
                            
                      </div>
                  </div>
              </div>
          </div>
      </section>
      
      
      <section id="portfolio" class="portfolio section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Use Tech to predict Heart Disease</h2>
                        <p><strong>You have only one heart, so make sure that you give all your attention to its well-being.</strong></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="static/img/Logistic1.png" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Logistic Regression</h3>
                            <p class="lead"> Logistic regression is one of the most popular Machine Learning algorithms, which comes under the Supervised Learning technique
                                <br> It is used for predicting the categorical dependent variable using a given set of independent variables.
                                Logistic regression predicts the output of a categorical dependent variable. Therefore the outcome must be a categorical or discrete value
                                <br>It can be either Yes or No, 0 or 1, true or False, etc. but instead of giving the exact value as 0 and 1<br>
                                 it gives the probabilistic values which lie between 0 and 1.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="static/img/numpy.png" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Numpy</h3>
                            <p class="lead">NumPy, which stands for Numerical Python, is a library consisting of multidimensional array objects and a collection of routines for processing those arrays.
                                <br> Using NumPy, mathematical and logical operations on arrays can be performed. This tutorial explains the basics of NumPy such as its architecture and environment.
                                 <br> It also discusses the various array functions, types of indexing, etc. An introduction to Matplotlib is also provided.
                                 NumPy was created in 2005 by Travis Oliphant. It is an open source project .
                                </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="static/img/Pandas.png" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Building Make</h3>
                            <p  class="lead">Pandas is an open-source library that is made mainly for working with relational or labeled data both easily and intuitively. It provides various data structures and operations for manipulating numerical data and time series. This library is built on top of the NumPy library.
                                 Pandas is fast and it has high performance & productivity for users.<br>
                                 Pandas were initially developed by Wes McKinney in 2008 while<br> he was working at AQR Capital Management. He convinced the AQR to allow him to open source the Pandas. Another AQR employee,<br> Chang She,
                                joined as the second major contributor to the library in 2012</p>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
      </section>
      
      <section class="team section-padding" id="team">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Our Team</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="static/img/Abhaybt.png" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Abhay Bhatnagar</h3>
                        <p class="card-text">My Name is Abhay Bhatnagar </p>
                        

                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                        <i class="bi bi-facebook text-dark mx-1"></i>
                        <i class="bi bi-linkedin text-dark mx-1"></i>
                        <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="static/img/Deepak1.png" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Deepak Singh Chauhan</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                        <i class="bi bi-facebook text-dark mx-1"></i>
                        <i class="bi bi-linkedin text-dark mx-1"></i>
                        <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <img src="static/img/Abhay-modified.png" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Abhay Pratap Singh</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo tempora esse quibusdam.</p>
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                        <i class="bi bi-facebook text-dark mx-1"></i>
                        <i class="bi bi-linkedin text-dark mx-1"></i>
                        <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                        </div>
                    </div>
                </div>
                
            </div>
          </div>
      </section>
      
      <section id="contact" class="contact section-padding">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Contact Us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p>
                    </div>
                </div>
            </div>
			<div class="row m-0">
				<div class="col-md-12 p-0 pt-4 pb-4">
					<form action="#" class="bg-light p-4 m-auto">
						<div class="row">
							<div class="col-md-12">
								<div class="mb-3">
									<input class="form-control" placeholder="Full Name" required="" type="text">
								</div>
							</div>
							<div class="col-md-12">
								<div class="mb-3">
									<input class="form-control" placeholder="Email" required="" type="email">
								</div>
							</div>
							<div class="col-md-12">
								<div class="mb-3">
									<textarea class="form-control" placeholder="Message" required="" rows="3"></textarea>
								</div>
							</div><button class="btn btn-warning btn-lg btn-block mt-3" type="button">Send Now</button>
						</div>
					</form>
				</div>
			</div>
		</div>
      </section>
     
      <footer class="bg-dark p-2 text-center">
          <div class="container">
              <p class="text-white">All Right Reserved By @Heart Disease</p>
          </div>
      </footer>
    








    
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>



